In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, accuracy_score

In [2]:
url='https://raw.githubusercontent.com/Balamurugan2007/FOML/refs/heads/main/suv_data.csv'
df=pd.read_csv(url)
print("Dataset:\n", df.head())

Dataset:
       User ID  Gender   Age  EstimatedSalary  Purchased
0  15624510.0    Male  19.0          19000.0        0.0
1  15810944.0    Male  35.0          20000.0        0.0
2  15668575.0  Female  26.0          43000.0        0.0
3  15603246.0  Female  27.0          57000.0        0.0
4  15804002.0    Male  19.0          76000.0        0.0

In [3]:
X = df[['Age', 'EstimatedSalary']]
y = df['Purchased']

In [4]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

In [5]:
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

In [6]:
model = LogisticRegression()

In [8]:
model.fit(X_train_scaled, y_train)
y_pred = model.predict(X_test_scaled)

In [9]:
cm = confusion_matrix(y_test, y_pred)
tn, fp, fn, tp = cm.ravel()
print("\nConfusion Matrix:")
print(cm)
print(f"TP: {tp}, TN: {tn}, FP: {fp}, FN: {fn}")

Confusion Matrix:
[[71  2]
 [16 31]]
TP: 31, TN: 71, FP: 2, FN: 16

In [10]:
test_accuracy = accuracy_score(y_test, y_pred)
train_accuracy = model.score(X_train_scaled, y_train)

In [11]:

print(f"\nTraining Accuracy: {train_accuracy:.2f}")
print(f"Test Accuracy: {test_accuracy:.2f}")

Training Accuracy: 0.83
Test Accuracy: 0.85